An example showing CRUD data to database

In [ ]:
!pip install ipython-sql

In [ ]:
%load_ext sql

In [ ]:
%config SqlMagic.autopandas=True

In [ ]:
import pandas as pd
import sqlite3

In [ ]:
%%sql sqlite://
CREATE TABLE presidents (first_name, last_name, year_of_birth);
INSERT INTO presidents VALUES ('George', 'Washington', 1732);
INSERT INTO presidents VALUES ('John', 'Adams', 1735);
INSERT INTO presidents VALUES ('Thomas', 'Jefferson', 1743);
INSERT INTO presidents VALUES ('James', 'Madison', 1751);
INSERT INTO presidents VALUES ('James', 'Monroe', 1758);
INSERT INTO presidents VALUES ('Zachary', 'Taylor', 1784);
INSERT INTO presidents VALUES ('Abraham', 'Lincoln', 1809);
INSERT INTO presidents VALUES ('Theodore', 'Roosevelt', 1858);
INSERT INTO presidents VALUES ('Richard', 'Nixon', 1913);
INSERT INTO presidents VALUES ('Barack', 'Obama', 1961);
(sqlite3.OperationalError) table presidents already exists [SQL: u'CREATE TABLE presidents (first_name, last_name, year_of_birth);']

In [ ]:
later_presidents = %sql SELECT * FROM presidents WHERE year_of_birth > 1825
later_presidents

In [ ]:
type(later_presidents)

In [ ]:
con = sqlite3.connect("presidents.sqlite")
later_presidents.to_sql("presidents", con, if_exists='replace')

In [ ]:
con = sqlite3.connect("presidents.sqlite")
cur = con.cursor()

new_dataframe = pd.read_sql("SELECT * \
                             FROM presidents", 
                             con=con)

con.close()

In [ ]:
new_dataframe

In [ ]:
result = %sql SELECT * FROM presidents WHERE last_name  = 'Obama'

In [ ]:
type(result)